<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fxxkyiwangchangxue.yiwangnochangxue.dao.mapper.NotificationMapper">

    <select id="selectAll" resultType="Notification">
        SELECT * FROM Notification;
    </select>
    <select id="selectLastIndex" resultType="Notification">
        SELECT * FROM Notification
        WHERE notifId = (SELECT MAX(notifId) FROM Notification);
    </select>
    <select id="selectPreviousIndex" resultType="Notification">
        <![CDATA[
        SELECT * FROM Notification
        WHERE notifId = (SELECT MAX(notifId) FROM Notification WHERE notifId < #{thisIndex} LIMIT 1);
        ]]>
    </select>
</mapper>