<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fxxkyiwangchangxue.yiwangnochangxue.dao.mapper.ResourceMapper">

    <insert id="insertResource">
        INSERT INTO `SPM-9`.Resource(title, body, fileName, file)
        VALUES (#{title}, #{body}, #{fileName}, #{file});
    </insert>
    <select id="getResource" resultType="com.fxxkyiwangchangxue.yiwangnochangxue.entity.Resource">
        select resId, title, body, fileName, fileSize from `SPM-9`.Resource;
    </select>

</mapper>