<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fxxkyiwangchangxue.yiwangnochangxue.dao.mapper.StudyTaskMapper">

    <select id="SelectAll" resultType="StudyTask">
        SELECT taskId, fori_teacherId, taskType, title, body, startTime, endTime
        FROM StudyTask;
    </select>
    <select id="SelectById" resultType="StudyTask">
        SELECT taskId, fori_teacherId, taskType, title, body, startTime, endTime
        FROM StudyTask
        WHERE taskId = #{id};
    </select>
    <select id="SelectFileById" resultType="StudyTask">
        SELECT fileName, file
        FROM StudyTask
        WHERE taskId = ${id};
    </select>
</mapper>