<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxxkyiwangchangxue.yiwangnochangxue.dao.mapper.TeacherMapper">

    <select id="selectByLogin" resultType="Teacher">
        <![CDATA[
        SELECT * FROM `SPM-9`.Teacher
        WHERE userName = #{userName} && password = #{password};
        ]]>
    </select>
</mapper>